{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на сайте {{ site_name }}.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите по ссылке и задайте новый пароль:" %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% translate "Ваш логин:" %} {{ user.get_username }}

{% translate "Спасибо за использование нашего сайта!" %}
{% blocktranslate %}Команда сайта {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
