{% extends 'musicforum/base.html' %}

{% block content %}
    <div class="page-heading">
        <div>
            <h2>{{ category.title }}</h2>
            <p class="lead">{{ category.description }}</p>
        </div>
        <a class="button" href="{% url 'musicforum:discussion_create' %}?category={{ category.slug }}">Новая тема в категории</a>
    </div>

    {% include 'musicforum/includes/discussion_filters.html' %}
    {% include 'musicforum/includes/discussion_cards.html' with empty_message='В этой категории пока нет подходящих тем.' %}
{% endblock %}
