{% extends 'musicforum/base.html' %}

{% block content %}
    {% include 'musicforum/includes/forum_nav.html' %}

    <div class="page-heading">
        <div>
            <h2>{{ title }}</h2>
            <p class="lead">Страница получает данные из базы SQLite через ORM Django.</p>
        </div>
        <a class="button" href="{% url 'musicforum:discussion_create' %}">Добавить тему</a>
    </div>

    {% include 'musicforum/includes/discussion_filters.html' %}
    {% include 'musicforum/includes/discussion_cards.html' with empty_message='Темы по заданным условиям пока не найдены.' %}
{% endblock %}
